---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCard from "../../components/blog/BlogPostCard.astro";

// const allPosts = await Astro.glob("./posts/*.md");
const allPosts: { url: string, frontmatter: { title: string } }[] = [];  // Just to build successfully
---

<BaseLayout title="Blog" sideBarActiveItemId="blog">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Blog</div>

        <ul>
            {
                allPosts.map((post) => (
                    <BlogPostCard
                        url={post.url}
                        title={post.frontmatter.title}
                    />
                ))
            }
        </ul>
    </div>
</BaseLayout>
