---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog" sideBarActiveItemId="blog">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Blog</div>
    </div>
</BaseLayout>
