---
const ACTIVE_CLASS = "bg-base-300";

export interface Props {
    sideBarActiveItemId?: string;
}

const { sideBarActiveItemId } = Astro.props;
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li>
        <a class="py-3 text-base" id="home" href="/">Home</a>
    </li>
    <li>
        <a class="py-3 text-base" id="blog" href="/blog/">Blog</a>
    </li>
    <!-- <li>
        <a class="py-3 text-base" id="projects" href="/projects">Projects</a>
    </li>
    <li>
        <a class="py-3 text-base" id="resume" href="/resume">Resume</a>
    </li> -->
    <li>
        <a
            class="py-3 text-base"
            href="mailto:arunangshubsws@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>

<script
    define:vars={{
        sideBarActiveItemId: sideBarActiveItemId,
        activeClass: ACTIVE_CLASS,
    }}
>
const activeItemID = "{{ sideBarActiveItemId }}";

if (activeItemID) {
    const activeItem = document.getElementById(activeItemID);

    if (activeItem) {
        activeItem.classList.add(ACTIVE_CLASS_NAME);
    }
}
</script>
