---
const today = new Date();

export interface Props {
    author: string;
}

const { author } = Astro.props;
---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="pb-2">
        &copy; {today.getFullYear()}
        {author}
    </div>
</footer>
